.content {
    margin: auto;
    margin-top: 12vh;

    text-align: center;
    h1 {
        font-size: 1.8em;
    }
    p {
        margin: auto;
        margin-top: 1em;
        max-width: 85%;
        max-width: 320px;
    }
}

@media screen and (min-width: 1440px) {
    .content {
        width: 100%;
        margin: auto;

        text-align: left;
        h1 {
            margin: auto;
            font-size: 3em;
            max-width: 500px;
        }
        p {
            max-width: none;
            margin: auto;
            max-width: 500px;
        }
    }
}