.content {
    margin: auto;
    margin-top: 12vh;

    text-align: center;
    h1 {
        font-size: 1.8em;
    }
    p {
        margin: auto;
        margin-top: 1em;
        max-width: 85%;
        max-width: 320px;
    }
}