@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'variables';
@import 'content';
@import 'form';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    
    background: url("../images/bg-intro-mobile.png") no-repeat, $red;
    background-attachment: fixed;
}

@media screen and (min-width: 1440px) {
    body {
        background: url("../images/bg-intro-desktop.png") no-repeat, $red;
        background-size: cover;

        height: 100vh;
        width: 100%;

        display: grid;
        place-items: center;

    }
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 10em;
    }
}